* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth; 
  }
  
  body {
    max-width: 1920px;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 2;
    color: #fff;
  }
  
  .header {  
    width: 100%;
    background-color: #000;
    margin: 0 auto;
  }
  
  .container {
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
  }
  
  .logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }
  
  .nav {
    margin-left: auto;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;  
    list-style: none;
  }
  
  .nav-item {
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .nav-item:last-child {
    padding-right: 0;
  }
  
  .nav-item:hover {
    color: #bdae82;
  }
  
  .nav-item.active {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
  
  .nav-item.active:hover {
    filter: none;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    min-height: 280px;
    background-image: url("./assets/img/forest.jpg");
    background-size: cover;
  }
  .play {
    width: 160px;
    height: 160px;
    background-image: url("./assets/svg/play.svg");
    background-size: contain;
    background-color: transparent;
    border: 0;  
    transition: .3s;
  }
  .play.pause {
    background-image: url("./assets/svg/pause.svg");
  }
  .play:focus {
    border: 0;
  }
  
  .play:hover {
    filter: brightness(.85);
  }
  
  .footer {  
    background-color: #000;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 20px;
  }
  
  .footer-data {
    display: flex;
    align-items: center;
  }
  
  .copyright {
    padding-right: 20px;
  }
  
  .github {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s;
  }
  
  .github:hover {
    color: #bdae82; 
  }
  
  .rss {
    width: 135px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./assets/svg/rss.svg");
    transition: .3s;
  }
  
  .rss:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
  @media all and (max-width:688px) {
    .nav-list {
      display: flex;
      list-style: none;
      flex-direction: column;
      height: auto;
  }
  }
  @media all and (max-width:487px) {
  .footer-container {
    justify-content: center;
    flex-wrap:wrap;
  }
}
  